MyTunes.Droid/bin/
MyTunes.Droid/obj/
MyTunes.iOS/obj/
MyTunes.UWP/obj/
MyTunes.WP8/obj/
packages/
MyTunes.iOS/bin/
PCL/bin/
PCL/obj/
xam120 01/App1/App1.Droid/bin/
xam120 01/App1/App1.Droid/obj/
xam120 01/App1/App1.iOS/obj/
xam120 01/App1/App1/obj/
xam120 01/App1/App1/bin/
xam120 01/App1/App1.WinPhone/obj/
xam120 01/App1/App1.Windows/obj/
xam120 01/App1/App1.UWP/obj/
